$grey : #f1f1f1;
$yellow : #fbc531;
$blue : #62cccf;
$black : #4A4A4A;
$border-grey : #d5d5d5;
$dark-grey : rgba(213, 213, 213, 1);
$border-darkgrey : rgba(150, 150, 150, 1);
$red : #ff6b6b;


%shadow {
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.15);
}
%style-bottom {
  content : "";
  width: 60%;
  height:10%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: $grey;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: -1;
  @extend %shadow;
}
@keyframes animActiveIconeOUI {
  0%   { transform: translate(-50%,-50%) scale(0); opacity: .7;}
  100% { transform: translate(-50%,-50%) scale(1.5); opacity: 0;}
}
.c-yellow{
    color: $yellow;
}
.c-grey{
    color: $black;
}
*{
  margin: 0;
  padding: 0;
  z-index: 100;
  font-family:  Helvetica, sans-serif;
}

html,body
{
  width: 100%;
  height: 100%;
  color: $black;
}

.subBtn{
    color: $blue;
    background-color: #eee;
    width: 80%;
    max-width: 18em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    border-bottom-left-radius: 2em 50%;
    border-bottom-right-radius: 2em 50%;
    border-top-left-radius: 2em 50%;
    border-top-right-radius: 2em 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,40%);
    cursor: pointer;
    @extend %shadow;
}

.highLight{
    font-style: normal;
    color: $yellow;
    text-decoration: none;
}
.tagPpl{
    font-style: normal;
    color: $blue;
}

.btn-Y-R{
  color: white;
  background-color: $yellow;
  border: none;
  padding: 0.5em;
  border-radius: 2em;
}
.btn-suivre{
    color: $blue;
    border: solid thin $blue;
    border-radius: 2em;
    padding: 0.1em 2em;
    background-color: transparent;
}

.content{
    margin: 1em;
    margin-top: 4em;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-areas:
    "ban ban ban"
    "Pro Flu other";
    justify-content: start;
    align-content: start;
    grid-gap: 20px;
    grid-auto-flow: dense;

    .banniere{
        height: 300px;
        object-fit: cover;
        border-radius: 0.5em;
        grid-area: ban;
        width: 100%;
    }

    .profil{
        border-radius: 0.5em;
        background-color: transparent;
        position: relative;
        grid-area: Pro;
        .profilPictContainer{
            background-color: $yellow;
            text-align: center;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            .profilPict{
                margin: 0 auto;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                transform: translate(0%,-50%);
                object-fit: cover;
            }
            button{
                position: absolute;
                top: 8.5em; left: 50%;
                transform: translateX(-50%);
                border-radius: 2em;
                font-size: .9em;
                padding: .5em .7em;
                width: 150px; height: 30px;
                transition: .5s;
                border: 1px solid grey;
                color: grey;
                cursor: inherit;

                &::after{
                  position: absolute;
                  top: 50%; left: 0;
                  width: 100%;
                  text-align: center;
                  transform: translateY(-50%);
                  font-weight: 500;
                  transition: .5s ease;
                  content: 'En attente';
                }

                &.unfriends{
                  border: 1px solid $blue;
                  background-color: white;
                  color: $blue;
                  cursor: pointer;
                }

                &.unfriends:hover{
                  background-color: $blue;
                  color: white;
                }

                &.unfriends::after{
                  content: 'Suivre';
                }

                &.accept::after{
                  content: 'Accepter le suivi';
                }

                &.friends{
                  border: 1px solid $blue;
                  background-color: $blue;
                  color: white;
                  cursor: pointer;
                }

                &.friends:hover{
                  border: 1px solid red;
                  background-color: white;
                  color: $red;
                }

                &.friends::after{
                  content: 'Suivi';
                }

                &.friends:hover::after{
                  content: 'Ne plus suivre';
                }
            }
        }
        .contentProfil{
            position: relative;
            background-color: #eee;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            @extend %shadow;
            .descProfil{
                position: relative;
                top: -2em;
                border-radius: 0.5em;
                width: 90%;
                margin: 0 auto;
                padding: 0.5em;
                background-color: #fff;
                @extend %shadow;
                h3{
                  margin-bottom: 1em;
                }
                p{
                  font-size: .7em;
                  margin: .5em 0;
                }
                em{
                    font-size: 0.7em;
                }
                a.portfolio{
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  font-size: .7em;
                }
                .containerProfilNul{
                    display: flex;
                    text-align: center;
                    .profilNum{
                        width: 49%;
                        margin-top: 2em;
                        em{
                            font-size: 2em;
                        }
                    }
                }
            }

        }
    }

    .section-center {
      grid-area: Flu;
      position: relative;

      .profils
      {
        width: calc(100% - 20px);
        background-color: $grey;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 5px;
        @extend %shadow;
        padding-top: 4%;
        padding-bottom: 4%;
        box-sizing: border-box;
        z-index: 999;
        margin-bottom: 2vh;

        .utilisateur
        {
          margin-left: 4%;

          .photo-utilisateur
          {
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            background-color: $yellow;
            float: left;

            img
            {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }

          .info-utilisateur
          {
            transform: translate(20px, 5px);

            h2
            {
              font-weight: normal;
              font-size: 1.4vw;
            }

            a
            {
              color: $yellow;
              text-decoration: none;
              font-size: .8vw;
              font-weight: lighter;
            }
          }

          button
          {
            position: absolute;
            top: 50%;
            right: 4%;
            transform: translate(0, -50%);
            background-color: transparent;
            padding: 5px 30px;
            font-size: 1vw;
            color: $blue;

            border:
            {
              radius: 100px;
              width: 1px;
              style: solid;
              color: $blue;
            }

            &:hover
            {
              cursor: pointer;
            }
          }
        }
      }

      .actualitées {
        width: calc(100% - 20px);
        background-color: $grey;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 5px;
        @extend %shadow;
        padding-top: 1%;
        padding-bottom: 6%;
        box-sizing: border-box;
        z-index: 999;
        margin-bottom: 6vh;

        &:after {
          @extend %style-bottom;
        }

        .utilisateur {
          margin-left: 4%;
          position: relative;

          .photo-utilisateur {
            position: relative;
            top: 0; left: 0;
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            background-color: $yellow;
            float: left;
            overflow: hidden;
            margin: 0;
            z-index: 99;

            img {
              position: absolute;
              top: 0; left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }

            figcaption, a {
              position: absolute;
              top: 0; left: 0;
              width: 100%; height: 100%;
            }
          }

          .info-utilisateur {
            transform: translate(20px, 5px);

            h2 {
              font-weight: normal;
              font-size: 1.4vw;
              margin-bottom: 0;
            }

            a {
              color: $yellow;
              text-decoration: none;
              font-size: .8vw;
              font-weight: lighter;
            }

          }

        }

        .content-actualité {
          text-align: justify;
          width: calc(100% - 8%);
          font-size: 1vw;
          font-weight: lighter;
          margin-bottom: 20px;
          margin-top: 30px;
          margin-left: 4%;

          br {
            margin-bottom: 15px;
          }
          a {
            margin-right: 2px;
            color: $black;
            text-decoration: none;
            font-weight: 600;
          }
        }

        .image-content {
          cursor: pointer;
          width: 100%;
          height: 40vh;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .date-publication {
          font-size: 12px;
          margin-top: 4%;
          font-weight: lighter;
          margin-left: 4%;

          span {
            color: $yellow;
          }
        }

        i{
          transform: translateX(50%);
        }

        i:hover {
          cursor: pointer;
        }

        .like {
          position: absolute;
          left: 30%;
          bottom: -5%;
          transform: translate(-50%, -25%);
          font-size: 2vw;
          transition: .5s;

          &:hover, &.like-active {
            color: $blue;
            transition: .5s;
          }

          &.like-anim::after{
            content: "";
            width: 150%;
            height: 150%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            animation: animActiveIconeOUI 1s ease;
            z-index: -1;
            background-color: $blue;
            border-radius: 5em;
          }
        }

        .nb-like {
          position: absolute;
          left: 36%;
          bottom: -8%;
          transform: translate(-50%, -100%);
          font-size: 1.2vw;
        }

        .comments {
          position: absolute;
          right: 36%;
          bottom: -5%;
          transform: translate(-50%, -25%);
          font-size: 2vw;
        }

        .nb-comments {
          position: absolute;
          right: 33%;
          bottom: -8%;
          transform: translate(-50%, -100%);
          font-size: 1.2vw;
        }
      }

      .section-comments {
        width: calc(100% - 20px);
        background-color: $dark-grey;
        border-radius: 5px;
        position: relative;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -6vh);
        padding-top: 8%;
        padding-left: 4%;
        padding-right: 4%;
        box-sizing: border-box;
        display: none;
        z-index: 5;

        &:after {
          @extend %style-bottom;
          background-color: $dark-grey;
          box-shadow: none;
        }

        .commentaire-users {
          display: grid;
          grid-template-columns: 1fr 5fr;
          grid-template-areas: "u c";
          width: 100%;
          margin-bottom: 1%;

          a {
            grid: 'u';
            text-decoration: none;
            color: $black;
            font-size: 1vw;
            font-weight: 600;
            margin-top: 2px;
          }

          p {
            margin-top: .2vw;
            margin-left: 3%;
            grid: 'c';
            font-size: 1vw;
            text-align: justify;
          }
        }

        .photo-utilisateur-comments {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background-color: $yellow;
          margin-top: 4%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }
        }

        input {
          width: calc(100% - 70px);
          padding: .5vw 0 .5vw 1vw;
          transform: translate(6vw, -3vw);
          box-sizing: border-box;
          border-style: solid;
          border-radius: 100px;
          border-color: $border-darkgrey;
          border-width: 1px;

          &:focus {
            outline: 0;
          }
        }
      }
    }
    /// test ///

    .other{
        grid-area: other;
        position: relative;
        text-align: center;
        .suggest{
            text-align:left;
            background-color: #eee;
            @extend %shadow;
            padding: 0.5em;
            padding-bottom: 1.5em;
            position: relative;
            margin-bottom: 2em;
            .blcPpl{
                padding: 0.5em;
                padding-bottom: 1em;
                background-color: #fff;
                border-radius: 0.5em;
                margin-bottom: 0.8em;
                @extend %shadow;
                position: relative;
                .blcPplPict{
                    border-radius: 50%;
                    height: 4em;
                    width: 4em;
                    float: left;
                    margin-right: 0.5em;
                }
                p{
                    margin-bottom: 0.5em;
                    margin-top: 0.5em;
                    .highLight{
                        font-size: 0.8em;
                    }
                }
            }
        }
        .message{
            text-align:left;
            background-color: #eee;
            @extend %shadow;
            padding: 0.5em;
            padding-bottom: 1.5em;
            position: relative;
            margin-bottom: 2em;
            .blcMess{
                padding: 0.5em;
                padding-bottom: 1em;
                background-color: #fff;
                border-radius: 0.5em;
                margin-bottom: 0.8em;
                @extend %shadow;
                position: relative;
                .blcMessPict{
                    border-radius: 50%;
                    height: 4em;
                    width: 4em;
                    float: left;
                    margin-right: 0.5em;
                }
                p{
                    margin-bottom: 0.5em;
                    margin-top: 0.5em;
                    .highLight{
                        float: right;
                        font-size: 0.8em;
                    }
                }
                .extraitMess{
                    margin-top: 1.2em;
                    margin-bottom: 0.2em;
                    font-size: 0.8em;
                }
            }
            form{
                position: relative;
                input{
                    background-color: transparent;
                    padding: 0.5em;
                    border-radius: 2em;
                    border: thin solid #fff;
                    margin: 0 auto;
                    width: 100%;
                }
                button{
                    position: absolute;
                    background-color: #fff;
                    border-radius: 2em;
                    width: 2em;
                    height: 2em;
                    border: none;
                    top: 0.15em;
                    right: 0.2em;
                }
            }
        }
    }
}


.edit{
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(46, 49, 49, .6);
  display: flex;
  z-index: 1000;
  color: white;
  display: none;

  &.active{
    display: block;
  }

  .popup-edit{
    position: absolute;
    top: 15%; left: 15%;
    width: 70%;
    border-radius: 0.5em;
    background-color: $grey;
    padding: 15px 20px;
    z-index: 1001;

    &::before{
      content: '';
      position: absolute;
      top: 0; left: 0;
      background-color: $yellow;
      width: 100%;
      height: 130px;
      border-radius: .5em .5em 0 0;
      z-index: -1;
    }

    h2{
      position: absolute;
      top: 10px; left: 20px;
      z-index: 1001;
      color: white;
    }

    .categorie{
      width: calc(100% - 15px);
      margin: 60px auto 20px;
      color: black;
      background-color: white;
      border-radius: .5em;
      display: flex;
      flex-direction: column;
      z-index: 1002;
      overflow: hidden;

      button[type="submit"]{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        border: 1px solid $blue;
        background-color: white;
        color: white;
        padding: 5px 10px;
        border-radius: .5em;
        color: $blue;
        width: 200px; height: 30px;
        font-size: 1.2vw;
        transition: .3s ease all;
        cursor: pointer;

        span{
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
        }

        &:hover{
          background-color: $blue;
          color: white;
        }
      }

      .popup-titres{
        position: relative;
        display: flex;
        flex-direction: row;

        .popup-titre-single{
          position: relative;
          width: calc(100% / 4); height: 35px;
          color: black;
          background-color: $grey;
          cursor: pointer;
          transition: .3s ease background-color;
          font-size: 1.2vw;

          &:hover{
            background-color: $dark-grey;
          }

          &:not(:last-child){
            border-right: 1px solid $dark-grey;
          }

          &.active{
            background-color: white;
            cursor: default;
          }

          span{
            display: block;
            width: 100%;
            text-align: center;
            line-height: 35px;
          }
        }
      }

      .popup-contents{
        display: none;
        font-size: 1vw;

        &.active{
          display: block;
          padding: 15px 20px;
        }

        .ligne{
          display: flex;
          flex-direction: row;
          margin: 8px 0;
        }

        label{
          font-weight: bold;
          position: relative;

          input{
            border: none;
            padding-left: 1.5px;
            margin: 6px 5px;
            font-weight: normal;
            font-size: .9vw;
            background-color: white;
            width: calc(100% - 25px);
          }

          &::after{
            position: absolute;
            content: '';
            background-color: black;
            width: 0; height: 2px;
            bottom: 2px; left: 50%;
            transition: .3s ease all;
          }

          &.active{
            &::after{
              width: calc(100% - 15px);
              left: 0;
            }
          }
        }

        &#content-popup-infosImages{
          label{
            &.active{
              &::after{
                width: 0;
                left: 0;
              }
            }
          }
        }

        &#content-popup-infosTravails{
          button.supprimer{
            position: relative;
            width: 100px;
            height: 25px;
            margin: auto 0;
            background-color: white;
            border-radius: .5em;
            border: 1px solid $blue;
            color: $blue;
            cursor: pointer;

            &:hover{
              border: 1px solid $red;
              color: $red;
            }
          }

          button.newField{
            position: relative;
            width: 100px;
            height: 25px;
            margin: auto 0;
            background-color: white;
            border-radius: .5em;
            border: 1px solid $yellow;
            color: $yellow;
            cursor: pointer;
            transition: .3s ease;

            &:hover{
              background-color: $yellow;
              color: white;
            }
          }

          .container{
            width: 100%; max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
          }
        }

        .ligne-1{
          label{
            width: calc(100%);
          }
        }

        .ligne-2{
          label{
            width: calc(100% / 2);
          }
        }

        .ligne-3{
          label{
            width: calc(100% / 3);
          }
        }

        .ligne-4{
          label{
            width: calc(100% / 4);
          }
        }

        .ligne-6{
          label{
            width: calc(100% / 6);
          }
        }
      }
    }

    button.close{
      position: absolute;
      top: -10px; right: -10px;
      width: 30px; height: 30px;
      border-radius: 50%;
      background-color: #191817;
      border: none;
      cursor: pointer;

      i{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        color: white;
      }
    }

  }
}
