$grey : rgba(241, 241, 241, 1);
$yellow : rgba(251, 197, 49, 1);
$blue : rgba(98, 204, 207, 1);
$dark-grey : rgba(213, 213, 213, 1);
$black : rgba(74, 74, 74, 1);

$border-grey : rgba(213, 213, 213, 1);
$border-darkgrey : rgba(150, 150, 150, 1);

*
{
  margin: 0;
  padding: 0;
  z-index: 100;
}

html,body
{
  width: 100%;
  height: 100%;
  font-family: helvetica;
  color: $black;
}

%centrer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%shadow {
  box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.15);
}

%style-bottom {
  content : "";
  width: 60%;
  height:10%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: $grey;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  @extend %shadow;
}

.section-connexion {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: relative;
  @extend %centrer;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-areas: "l c r";

  .section-left {
    grid: "l";

    .connexion {
      width: 100%;
      height: 45vh;
      background-color: $grey;
      border-radius: 5px;
      position: relative;
      @extend %shadow;

      &:after {
        @extend %style-bottom;

      }

      &:before {
        content : "";
        position: absolute;
        width: 100%;
        height: 50%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $yellow;
      }

      .information {
        width: calc(100% - 20px);
        height: 70%;
        background-color: white;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, 0);
        border-radius: 5px;
        @extend %shadow;

        form {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, 0);
          width: calc(100% - 20px);
        }

        input {
          width: 100%;
          margin-top: 10px;
          padding: .5vw 0 .5vw 1vw;
          border-radius: 100px;
          border-style: solid;
          border-width: 1px;
          border-color: $border-grey;
          background-color: white;
          box-sizing: border-box;
        }

        input:focus {
          outline: 0;
        }

        input[type="submit"] {
          background-color: $blue;
          color: white;
          font-size: 12px;
          border-style: none;

          &:hover {
            cursor: pointer;
          }
        }

        h1 {
          font-weight: normal;
          margin-left: 10px;
          margin-top: 10px;
          font-size: 1.8vw;
        }

        a {
          text-decoration: none;
          margin-left: 10px;
          color: $yellow;
          font-weight: lighter;
          font-size: 1vw;
        }

      }

    }

  }

  ::-webkit-scrollbar {
    display: none;
  }

  .section-center {
    grid: "c";

    .actualitées {
      width: calc(100% - 20px);
      background-color: $grey;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 5px;
      @extend %shadow;
      padding-top: 4%;
      padding-bottom: 4%;
      box-sizing: border-box;
      z-index: 999;
      margin-bottom: 6vh;

      &:after {
        @extend %style-bottom;
      }

      .utilisateur {

        margin-left: 4%;

        .photo-utilisateur {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background-color: $yellow;
          float: left;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }
        }

        .info-utilisateur {

          transform: translate(20px, 5px);

          h2 {
            font-weight: normal;
            font-size: 1.4vw;
          }

          a {
            color: $yellow;
            text-decoration: none;
            font-size: .8vw;
            font-weight: lighter;
          }

        }

      }

      .content-actualité {
        text-align: justify;
        width: calc(100% - 8%);
        font-size: 1vw;
        font-weight: lighter;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 4%;
      }

      .image-content {
        width: 100%;
        height: 40vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .date-publication {
        font-size: 12px;
        margin-top: 4%;
        font-weight: lighter;
        margin-left: 4%;

        span {
          color: $yellow;
        }
      }

      i:hover {
        cursor: pointer;
      }

      .like {
        position: absolute;
        left: 30%;
        bottom: -5%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
        transition: .5s;

        &:hover, .like-active {
          color: $blue;
          transition: .5s;
        }
      }

      .nb-like {
        position: absolute;
        left: 36%;
        bottom: -4%;
        transform: translate(-50%, -50%);
        font-size: 1.2vw;
      }

      .comments {
        position: absolute;
        right: 36%;
        bottom: -5%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
      }

      .nb-comments {
        position: absolute;
        right: 30%;
        bottom: -4%;
        transform: translate(-50%, -50%);
        font-size: 1.2vw;
      }
    }

    .section-comments {
      width: calc(100% - 20px);
      background-color: $dark-grey;
      border-radius: 5px;
      position: relative;
      top: -10px;
      left: 50%;
      transform: translate(-50%, -6vh);
      padding-top: 8%;
      padding-left: 4%;
      padding-right: 4%;
      box-sizing: border-box;
      display: none;

      &:after {
        @extend %style-bottom;
        background-color: $dark-grey;
        box-shadow: none;
      }

      .commentaire-users {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: "u c";
        width: 100%;
        margin-bottom: 1%;

        a {
          grid: 'u';
          text-decoration: none;
          color: $black;
          font-size: 1.2vw;
        }

        p {
          margin-top: .2vw;
          margin-left: 3%;
          grid: 'c';
          font-size: 1vw;
          text-align: justify;
        }
      }

      .photo-utilisateur-comments {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: $yellow;
        margin-top: 4%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
      }

      input {
        width: calc(100% - 70px);
        padding: .5vw 0 .5vw 1vw;
        transform: translate(6vw, -3vw);
        box-sizing: border-box;
        border-style: solid;
        border-radius: 100px;
        border-color: $border-darkgrey;
        border-width: 1px;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .section-right {
    grid: "r";

    .message-accueil {
      width: 100%;
      background-color: $grey;
      border-radius: 5px;
      position: relative;
      @extend %shadow;
      padding-top: 2.5%;
      padding-bottom: 10%;

      &:after {
        @extend %style-bottom;
      }

      h2 {
        margin-left: 2.5%;
        margin-bottom: 2.5%;
        font-size: 1.4vw;
      }

      .content-message {
        width: 95%;
        background-color: white;
        border-radius: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 5%;
        box-sizing: border-box;

        p {
          text-align: justify;
          font-size: 1vw;
        }
      }
    }
  }
}

.popupInscript {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #00000099;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  &.active{
    display: block;
  }
  .contentPopup {
    background-color: #fff;
    width: 80%;
    margin: 10vh auto;
    padding: 2em;
    position: relative;
    .closeInscript{
      position: absolute;
      top: 1em;
      right: 1em;
      border: none;
      background-color: transparent;
      font-size: 2em;
      color: $black;
      transition:0.2s;
      border-radius: 50%;
      line-height: 1;
      padding: 0;
      &:hover{
        color: $yellow;
      }
    }
    h2 {
      color: $yellow;
      text-align: center;
    }
    form {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      label{
        display: block;
        font-size: 1.5em;
        margin: 1em;
        input{
          font-size: 0.9em;
          border:none;
          border-bottom: solid 2px $black;
          color: $black;
        }
      }
      button{
        font-size: 1.5em;
        padding: 0.5em;
        border:none;
        background-color: $yellow;
      }
    }
  }
}


.animUnderline{
  position: relative;
  &.Blue{
    &::before{
      background-color: $blue;
    }
  }
  &::before{
    transition:0.5s;
    content:"";
    width: 0%;
    height: 1px;
    background-color: $yellow;
    top: 102%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    position: absolute;
  }
  &:hover::before{
    width: 80%;
  }
}
